.header-container {
    min-height: 150px;
    max-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}


#current-guessing {
    font-size:  2em;
}

.header-container {
    padding: 30px 15px 15px 15px;
    opacity: 0.8;
    margin: 0 auto;
}

#group-picture {
    max-width: 100%;
}

#header-picture {
    max-height: 800px;
    
}

#index-banner {
    max-height: 300px;
}

.parallax {
    position: absolute;
    top: 0;
}

.parallax-container {
    position: relative;
}

.page-footer {
    width: 100%;
    flex-shrink: none;
}

.footer-container {
    margin: 0 auto; 
}

.container {
    min-height: 80vh;
}
